# dependencies
node_modules/

# Expo & Metro
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# 🛡️ THE SECURITY SHIELD (Crucial)
.env
.env.*
!.env.example
google-services.json
ios/GoogleService-Info.plist

# 🛡️ THE NATIVE SHIELD 
# (Since you ran 'run:android', ignore these generated folders)
android/
ios/

# Native Keys & Certificates
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# temporary/example folders
app-example