<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812679289010-a1os4021hbvflsdp0mho5nm0q21o58gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812679289010-a1os4021hbvflsdp0mho5nm0q21o58gq</string>
	<key>API_KEY</key>
	<string>AIzaSyCjCq8XBF0KY3eFOk5mt_K1LGNuHGt_JWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>812679289010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bethea28.twocents</string>
	<key>PROJECT_ID</key>
	<string>cents-fe1c4</string>
	<key>STORAGE_BUCKET</key>
	<string>cents-fe1c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812679289010:ios:ccabb11816a82e8d6551ab</string>
</dict>
</plist>